// import font
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&family=Kumbh+Sans:wght@400;700&family=Outfit:wght@300;400;600&family=Rubik:wght@400;500;700&display=swap');

//impoet functions & variables
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";

// add custom colors
$custom-theme-colors: (
    "softBlue": hsl(215, 51%, 70%),
    "cyan": hsl(178, 100%, 50%),
    "darkBlueBody": hsl(217, 54%, 11%),
    "darkBlueCard": hsl(216, 50%, 16%),
    "line": hsl(215, 32%, 27%),
    "white": hsl(0, 0%, 100%),
);

$line: hsl(215, 32%, 27%);

$theme-colors: map-merge($custom-theme-colors, $theme-colors);

// (base size) rem
html {
    font-size: 18px;
}

.card {
    width: 350px;
    .card-img {
        width: 302px;
        height: 302px;
        background-image: url("../images/image-equilibrium.jpg");
        background-position: center;
        background-size: cover;
        cursor: pointer;
    }
    .card-title {
        &:hover {
            color: cyan !important;
        }
        h1 {
          font-size: 24px;
          line-height: 32px;
        }
    }
    .card-text {
        font-size: 18px;
        line-height: 28px;
    }
    .price,.card-footer {
        font-size: 16px;
        line-height: 24px;
    }
    .avatar {
        width: 33px;
        height: 33px;
        background-image: url("../images/image-avatar.png");
        background-position: center;
        background-size: cover;
    }
    .card-footer {
        border-top: 1px solid $line;
        a:hover {
            color: cyan !important;
        }
    }
}

.view{
    display: none;
}

.card-img:hover .view {
    display: block;
}

// import bootstrap
@import "../node_modules/bootstrap/scss/bootstrap.scss";